<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Auto Dealer Shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg navbar-background">
        <a class="nav-link text-white active h5" href="/">Home</a>
        <a class="nav-link text-white active h5" href="/users/register">Register Seller</a>
        <div class="collapse navbar-collapse d-flex justify-content-end">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active font-weight-bold" href="/">Add Brand</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active font-weight-bold" href="/">Add Model</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active font-weight-bold" href="/">Add Offer</a>
                </li>
                <li class="nav-item col-md-3">
                    <a class="nav-link text-white active font-weight-bold" href="/">All Offers</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <h2 class="text-center text-white mt-5">Auto Dealer Shop Offers</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

            <div th:each="brand, brandStat: ${brands}" class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Car brand:
                    <span th:text="${brand.getName()}" />
                </h2>
                <h4>Model: ....</h4>
               <h4>Year: ...</h4>
               <h4>Engine: ...</h4>
                <h4><a class="btn-block" href="/cars/id">Details</a></h4>
            </div>

        </div>
    </div>
</main>
</body>
</html>
