<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head('Auto Dealer Shop: All Offers')" />
<body>
<main>
    <nav th:replace="fragments/menu::menu" />

    <div class="container">
        <h2 class="text-center text-white mt-5">Auto Dealer Shop Offers</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>
 
            <div th:each="offer, offerStat: ${offers}" class="col-md-4 d-flex flex-column bg-text mb-3">
                <h2>Car brand: <span th:text="${offer.model.brand.name}" /></h2>
                <h4>Model: <span th:text="${offer.model.name}" /></h4>
                <h4>Year: <span th:text="${offer.year}" /></h4>
                <h4>Engine: <span th:text="${offer.engine}" /></h4>
                <h4><a class="btn-block" href="/cars/id">Details</a></h4>
            </div>

        </div>
    </div>
</main>
<footer th:replace="fragments/footer::footer" />
</body>
</html>
