<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Auto Dealer Shop</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<main class="main">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><img th:src="@{/img/car.png}" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link active" href="/brands">All Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">Add Brand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">Add Model</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/offers/add">Add Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/offers">All Offers</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center text-white">Upload Offer</h2>
        <form th:object="${offer}" method="POST" class="mx-auto col-md-6 d-flex flex-column justify-content-center">
            <div class="form-group ">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select th:field="*{modelId}" id="model" name="model" class="form-control">
                    <option value="-1">- Select a model -</option>
                    <optgroup th:each="brand : ${brands}" th:label="|-- ${brand.name} --|">
                        <option th:each="brand_model : ${brand.models}" th:value="${brand_model.id}"
                                th:text="|   ${brand.name} ${brand_model.name}|"
                                th:selected="${offer.model != null && brand_model.id == offer.model.id}">
                            Model
                        </option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group ">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select th:field="*{engine}" id="engine" name="engine" class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="eng_type : ${T(demos.spring.vehicles.model.EngineType).values()}" th:value="${eng_type}"
                            th:text="${eng_type}" th:selected="${offer.engine == eng_type}">
                        Engine type
                    </option>
                </select>
            </div>
            <div class="form-group ">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select th:field="*{transmission}" id="transmission" name="transmission" class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="trans_type : ${T(demos.spring.vehicles.model.TransmissionType).values()}" th:value="${trans_type}"
                            th:text="${trans_type}" th:selected="${offer.transmission == trans_type}">
                        Transmission type
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year" id="year" name="year" th:value="*{year}"/>
            </div>
            <div class="form-group">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input type="number" min="0" step="100" class="form-control" placeholder="Suggested price" id="price"
                       name="price" th:value="*{price}"/>
            </div>
            <div class="form-group">
                <label class="text-white font-weight-bold" for="description">Description</label>
                <textarea th:value="*{description}" type="textarea" class="form-control" name="description"
                          id="description" rows="3" cols="80"
                          placeholder="Description"></textarea>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>
